<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <span class="menu-title">Inicio</span>
        <em class="mdi mdi-home menu-icon"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">
        <span class="menu-title">Mis artículos</span>
        <em class="mdi mdi-tshirt-crew menu-icon"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <span class="menu-title">Mis compras</span>
        <em class="mdi mdi-point-of-sale menu-icon"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <span class="menu-title">Mis mensajes</span>
        <em class="mdi mdi-message-text menu-icon"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleCatalogoNav()">
        <span class="menu-title">Catálogo</span>
        <i class="menu-arrow"></i>
        <em class="mdi mdi-image-multiple menu-icon"></em>
      </a>
    </li>
    <div class="collapse show" id="catalogo" *ngIf="mostrarOpcionesCatalogo">
      <ul class="nav flex-column sub-menu">
        <li *ngFor="let categoria of this.categorias; let i = index" class="nav-item">
          <a class="nav-link" routerLink="/catalogo/{{ i }}">{{ categoria }}</a>
        </li>
      </ul>
    </div>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        <span class="menu-title">Cerrar sesión</span>
        <em class="mdi mdi-image-multiple menu-icon"></em>
      </a>
    </li>
  </ul>
</nav>
