<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <span class="menu-title">Inicio</span>
        <em class="mdi mdi-home menu-icon"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <span class="menu-title">Mis ventas</span>
        <em class="mdi mdi-cash-multiple menu-icon"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <span class="menu-title">Mis compras</span>
        <em class="mdi mdi-point-of-sale menu-icon"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <span class="menu-title">Mis mensajes</span>
        <em class="mdi mdi-message-text menu-icon"></em>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <span class="menu-title">Catálogo</span>
        <em class="mdi mdi-image-multiple menu-icon"></em>
      </a>
    </li>
    <li class="nav-item sidebar-actions">
      <span class="nav-link">
        <div class="border-bottom">
          <h6 class="font-weight-normal mb-3">Productos</h6>
        </div>
        <div class="border-bottom">
          <button class="btn btn-block btn-lg btn-gradient-primary mt-3">+ Agregar producto</button>
        </div>
      </span>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        <span class="menu-title">Cerrar sesión</span>
        <i class="mdi mdi-image-multiple menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
