<div class="container-fluid page-body-wrapper body-background">
  <app-navegacion></app-navegacion>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <em class="mdi mdi-home"></em>
          </span>
          Mi perfil
        </h3>
      </div>
      <div class="row">
        <div class="col-md-6 stretch-card grid-margin">
          <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
              <img
                src="assets/images/dashboard/circle.svg"
                class="card-img-absolute"
                alt="circle-image"
              />
              <h4 class="font-weight-normal mb-3">
                Mis artículos<em class="mdi mdi-cash-multiple mdi-24px float-right"></em>
              </h4>
              <h2 class="mb-5">{{ this.articulosTotales }}</h2>
              <button
                class="btn btn-block btn-lg btn-gradient-light mt-3 btn-main-panel"
                routerLink="/products"
                id="botonProductos"
              >
                Ir a mis artículos
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 stretch-card grid-margin">
          <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
              <img
                src="assets/images/dashboard/circle.svg"
                class="card-img-absolute"
                alt="circle-image"
              />
              <h4 class="font-weight-normal mb-3">
                Artículos comprados <em class="mdi mdi-point-of-sale mdi-24px float-right"></em>
              </h4>
              <h2 class="mb-5">{{ this.comprasTotales }}</h2>
              <button
                class="btn btn-block btn-lg btn-gradient-light mt-3 btn-main-panel"
                routerLink="/compras"
              >
                Ir a mi carrito
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Top productos destacados</h4>
              <div class="table-responsive">
                <table class="table">
                  <caption class="oculto">
                    Tabla del ranking de productos destacados
                  </caption>
                  <thead>
                    <tr>
                      <th id="idProducto" class="oculto"></th>
                      <th id="nombreProductoDestacados">Producto</th>
                      <th id="likes">Likes</th>
                      <th id="tallaProducto">Talla</th>
                      <th id="precio">Precio</th>
                      <th id="categoriaProducto">Categoría</th>
                      <th id="propietario">Vendedor</th>
                      <th id="imagen">Prevista</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let producto of this.productos">
                      <td class="oculto">{{ producto.key }}</td>
                      <td>
                        <label class="badge badge-info"
                          ><a
                            routerLink="/view-product/{{ producto.key }}"
                            title="{{ producto.nombre }}"
                            >{{ producto.nombre }}</a
                          ></label
                        >
                      </td>
                      <td>{{ producto.likes }}</td>
                      <td class="responsive-hide">{{ producto.talla }}</td>
                      <td class="responsive-hide">₡ {{ producto.precio }}</td>
                      <td class="responsive-hide">{{ this.getCategoria(producto.categoria) }}</td>
                      <td class="responsive-hide">{{ producto.owner }}</td>
                      <td><img [src]="producto.img" width="90%" alt="Prevista" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
