<div class="container-fluid page-body-wrapper body-background">
  <app-navegacion></app-navegacion>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-cash-multiple"></i>
          </span> Mis artículos </h3>
      </div>
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <table class="table table-hover table-responsive" data-test-productos="test-tabla-productos">
              <caption class="oculto">Tabla con el detalle de mis artículos</caption>
              <thead>
                <tr>
                  <th id="product-id" class="oculto">Key</th>
                  <th id="product-name-id">Producto</th>
                  <th id="talla-id" class="responsive-hide">Talla</th>
                  <th id="price-id" class="responsive-hide">Precio</th>
                  <th id="category-id" class="responsive-hide">Categoría</th>
                  <th id="prevista-id">Prevista</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of this.products">
                  <td class="oculto">{{ product.key }}</td>
                  <td>
                    <label class="badge badge-info"><a routerLink="/product-detail/{{ product.owner }}/{{ product.key }}" title="{{ product.nombre }}">{{ product.nombre }}</a></label></td>
                  <td class="responsive-hide">{{ product.talla }}</td>
                  <td class="responsive-hide"> ₡ {{ product.precio }}</td>
                  <td class="responsive-hide">{{ this.getCategoria(product.categoria) }}</td>
                  <td><img [src]="product.img" width="90%" alt="Prevista" /></td>
                </tr>
              </tbody>
            </table>
            <br /><hr /><br />
            <div class="col-lg-12">
              <div class="col-lg-4 form-container">
                <h3 class="heading">Agregar artículo</h3>
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="pt-3">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="nombreProducto"
                      name="nombreProducto"
                      placeholder="Nombre del producto"
                      ngModel
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control form-control-lg"
                      id="precioProducto"
                      name="precioProducto"
                      placeholder="Precio"
                      ngModel
                    />
                  </div>
                  <div class="form-group">
                    <label for="tallaProducto" class="text">Talla:</label>
                    <select
                      class="form-control form-control-lg select-form-control"
                      id="tallaProducto"
                      name="tallaProducto"
                      (change)="selectChangeHandlerTalla($event)">
                      <option value="XS">Muy pequeño</option>
                      <option value="S">Pequeño</option>
                      <option value="M">Mediano</option>
                      <option value="L">Grande</option>
                      <option value="XL">Muy Grande</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="categoriaProducto" class="text">Categoría:</label>
                    <select
                      class="form-control form-control-lg select-form-control"
                      id="categoriaProducto"
                      name="categoriaProducto"
                      (change)="selectChangeHandlerCategoria($event)">
                      <option value="0">Pantalones</option>
                      <option value="1">Jackets</option>
                      <option value="2">Pijamas</option>
                      <option value="3">Todo</option>
                    </select>
                  </div>
                  <div class="mb-2 col-lg-8 button-add">
                    <button
                      type="submit"
                      class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn text-light"
                      id="botonAgregarProducto"
                    >
                      Agregar producto
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-lg-4 product-img">
                <app-file-uploader
                  [owner]="this.ownerId"
                  [hidePreview]="false"
                  (imagePick)="onImagePicked($event)"
                ></app-file-uploader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
