.body-background {
  background: url('../../assets/images/login/bg_body.gif') !important;
}

.main-panel {
  width: 90%;
}

.page-body-wrapper {
  padding-top: 70px !important;
}

.stretch-card, .border-bottom {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.button-add {
  padding-left: 0 !important;
}

.form-container, .product-img {
  display: inline-block;
}

.product-img {
  padding-top: 35px;
  vertical-align: top;
}

.text {
  font-family: inherit;
  font-size: 1rem !important;
}

.select-form-control {
  padding: 0.94rem 1.94rem !important;
}

.oculto {
  display: none;
}
