<!-- Para pruebas. Esto se borra -->
<!-- <div *ngIf="this.isLoggedIn">{{ this.userData.fullName }}</div>
<div *ngIf="!this.isLoggedIn">No estoy loggeado</div> -->

<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="content-wrapper d-flex align-items-center auth registro-body">
    <!--login-body-->
    <div class="row flex-grow">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-center p-5">
          <h4>Bienvenido a COOL BABY!</h4>
          <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="pt-3">
            <div class="form-group">
              <input
                type="email"
                class="form-control form-control-lg"
                id="email"
                name="email"
                placeholder="Correo Electrónico"
                ngModel
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control form-control-lg"
                id="password"
                name="password"
                placeholder="Contraseña"
                ngModel
              />
            </div>
            <div class="form-group">
              <input
                class="form-control form-control-lg"
                id="userName"
                name="userName"
                placeholder="Nombre de usuario"
                ngModel
              />
            </div>
            <div class="form-group">
              <input
                class="form-control form-control-lg"
                id="fullName"
                name="fullName"
                placeholder="Nombre Completo"
                ngModel
              />
            </div>
            <div class="mb-2">
              <!--En este anchor hay que movernos hacia la pagina de inicio-->
              <button
                type="submit"
                class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn text-light"
              >
                Registrarse
              </button>
            </div>
          </form>
          <button type="button" class="btn btn-block btn-secondary auth-form-btn" routerLink="/login">Regresar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>
