<div class="container-fluid page-body-wrapper body-background">
  <app-navegacion></app-navegacion>
  <div class="main-panel">
    <div class="content-wrapper">
      <h1 *ngIf="this.productoActual">{{ this.getCategoria(this.productoActual.categoria) }}</h1>
      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" *ngIf="this.productoActual">
                {{ this.productoActual.nombre }}
              </h4>
              <div class="owl-carousel owl-theme full-width owl-loaded owl-drag">
                <div class="owl-stage-outer">
                  <div class="owl-item">
                    <div class="item" *ngIf="this.productoActual">
                      <img [src]="this.productoActual.img" alt="Imagen articulo" />
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
                <div class="owl-nav">
                  <div class="owl-prev" (click)="this.siguienteImagen()">
                    <em class="mdi mdi-chevron-left"></em>
                  </div>
                  <div class="owl-next"><em class="mdi mdi-chevron-right"></em></div>
                </div>
                <div class="owl-dots">
                  <div class="owl-dot active"><span></span></div>
                  <div class="owl-dot"><span></span></div>
                  <div class="owl-dot"><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body" *ngIf="this.productoActual">
              <img
                src="../assets/images/dashboard/circle.svg"
                class="card-img-absolute"
                alt="circle-image"
              />
              <h2 class="font-weight-normal mb-3">
                {{ this.productoActual.nombre }}
              </h2>
              <h4 class="mb-5">Precio: {{ this.productoActual.precio }}</h4>
              <h4 class="mb-5">Talla: {{ this.productoActual.talla }}</h4>
              <h4 class="mb-5">Vendedor: {{ this.productoActual.owner }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
