<div class="container-fluid page-body-wrapper body-background">
  <app-navegacion></app-navegacion>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Basic carousel</h4>
              <div class="owl-carousel owl-theme full-width owl-loaded owl-drag">
                <div class="owl-stage-outer">
                  <div class="owl-item">
                    <div class="item">
                      <img src="assets/images/carousel/banner_1.jpg" />
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
                <div class="owl-nav">
                  <div class="owl-prev"><i class="mdi mdi-chevron-left"></i></div>
                  <div class="owl-next"><i class="mdi mdi-chevron-right"></i></div>
                </div>
                <div class="owl-dots">
                  <div class="owl-dot active"><span></span></div>
                  <div class="owl-dot"><span></span></div>
                  <div class="owl-dot"><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
